@page
@model SSD_Assignment.Pages.Books.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row">

    <br />
    <div class="col-sm-4">
        <h4>Books</h4>
        @if (@Model.Book.Image == null)
        {
            <img src=".././images/NoImageAvailable.png" />
        }
        else
        {
            <img src=".././@Model.Book.Image"
                 onerror="this.src='.././images/NoImageAvailable.png'" />
        }
    </div>
    <div class="col-sm-8">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Book.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Book.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Book.Author)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Book.Author)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Book.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Book.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Book.Genre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Book.Genre)
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Book.Synopsis)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Book.Synopsis)
            </dd>
        </dl>
        @if (User.IsInRole("Admin") || User.IsInRole("BookAdmin"))
         {
            <p>
                <a asp-page="./Edit" asp-route-id="@Model.Book.ID">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@Model.Book.ID">Delete</a> |
            </p>

         }
        <a asp-page="./Index">Back to List</a>
    </div>
</div>
<style>
    img {
        float: left;
        width: 100%;
        height: auto;
    }
</style>
